@using BusinessLayer;
@using DataLayer;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@inject IdentityContext identityContext

@model BusinessLayer.Showtime

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Showtime</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hall)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hall.Id)
        </dd>
    </dl>
</div>
<div>
    @if (signInManager.IsSignedIn(User))
    {
        @if (identityContext.IsUserAdmin(await userManager.FindByNameAsync(User.Identity.Name)))
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        }
    }
    <a asp-action="Index">Back to List</a>
    <a asp-action="Reservation">Reservation</a>
</div>
