@using BusinessLayer;
@using DataLayer;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@inject IdentityContext identityContext

@model IEnumerable<BusinessLayer.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (signInManager.IsSignedIn(User))
{
    @if (identityContext.IsUserAdmin(await userManager.FindByNameAsync(User.Identity.Name)))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosterRoute)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterRoute)
            </td>
            <td>            
                @if (signInManager.IsSignedIn(User))
                {
                    @if (identityContext.IsUserAdmin(await userManager.FindByNameAsync(User.Identity.Name)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
